{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Clientes</title>
    <link rel="stylesheet" href="{% static 'vendas/style.css' %}">
</head>
<body>
    <header>
        <h1>Lista de Clientes</h1>
    </header>
    <main>
        {% if clientes %}
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.telefone }}</td>
                    <td>
                        <!-- Formulário para deletar o cliente -->
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id_cliente" value="{{ cliente.id }}">
                            <button type="submit">Deletar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Nenhum cliente cadastrado.</p>
        {% endif %}

        <br>
        <a href="{% url 'index' %}"><button>Voltar ao Menu</button></a>
    </main>
</body>
</html>
