{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Sistema</title>
    <link rel="stylesheet" href="{% static 'vendas/style.css' %}">
</head>
<body>
    <header>
        <h1>Gerenciar Sistema</h1>
    </header>
    <main>
        <p class="text">Clique em um desse botões para analisar o que você deseja:</p>
        <section>
            <a href="{% url 'gerenciar_clientes' %}"><button>Cliente</button></a>
            <a href="{% url 'ver_pedidos' %}"><button>Pedido</button></a>
            <a href="{% url 'ver_fornecedores' %}"><button>Fornecedor</button></a>
            <a href="{% url 'ver_produtos' %}"><button>Produtos</button></a>
            <a href="{% url 'ver_produtos' %}"><button>Produtos</button></a>
            <a href="{% url 'editar_pagamentos' %}"><button>Pagamentos</button></a>
            
        </section>
    </main>

    <footer>
        <a href="{% url 'index' %}">Voltar a pagina inicial.</a>
    </footer>
</body>
</html>