{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Fornecedores</title>
    <link rel="stylesheet" href="{% static 'vendas/style.css' %}">
</head>
<body>
    <header>
        <h1>Lista de Fornecedores</h1>
    </header>
    <main>
        <section>
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                    </tr>   
                </thead>
                <tbody>
                    {% for fornecedor in fornecedores %}
                    <tr>
                        <td>{{ fornecedor.id_fornecedor }}</td>
                        <td>{{ fornecedor.nome_fornecedor }}</td>
                        <td>{{ fornecedor.email }}</td>
                        <td>{{ fornecedor.telefone_fornecedor }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <a href="{% url 'olhar_tabelas' %}">Voltar para a pagina anterior</a>
    </footer>
</body>
</html>