{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="{% static 'vendas/style.css' %}">
</head>
<body>
    <header>
        <h1>Lista de Produtos</h1>
    </header>
    <main>
        <section>
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome do Produto</th>
                        <th>Fornecedor</th>
                        <th>Estoque</th>
                        <th>Preço</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.id_produto }}</td>
                        <td>{{ produto.nome_produto }}</td>
                        <td>{{ produto.idfornecedor.nome_fornecedor }}</td>
                        <td>{{ produto.estoque }}</td>
                        <td>R$ {{ produto.preco }}</td>
                        <td>
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id_produto" value="{{ produto.id_produto }}">
                                <select name="acao">
                                    <option value="editar">Editar</option>
                                    <option value="deletar">Deletar</option>
                                </select>
                                <button type="submit">Execução Ação</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
    <div class='campo'>
        <a href="{% url 'olhar_tabelas' %}">Voltar à página anterior</a>
    </div>
</body>
</html>