{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Fornecedor</title>
    <link rel="stylesheet" href="{% static 'vendas/style.css' %}">
</head>
<body>
    <header>
        <h1>Editar Fornecedor</h1>
    </header>

    <main>
        <section>
            {% if sucesso %}
                <div class="mensagem-sucesso">
                    <p>Fornecedor editado com sucesso!</p>
                </div>
                <script>
                    setTimeout(function() {
                        window.location.href = "{% url 'ver_fornecedores' %}";
                    }, 2000);
                </script>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="campo">
                    <label for="p4">Nome do fornecedor:</label>
                    <input type="text" id="p4" name="nome_fornecedor" value="{{ fornecedor.nome_fornecedor }}" placeholder="Digite o fornecedor aqui">
                </div>
                <div class="campo">
                    <label for="p5">Email:</label>
                    <input type="email" id="p5" name="email" value="{{ fornecedor.email }}" placeholder="Digite o email aqui">
                </div>
                <div class="campo">
                    <label for="p6">Telefone:</label>
                    <input type="text" id="p6" name="telefone_fornecedor" value="{{ fornecedor.telefone_fornecedor }}" placeholder="Digite o telefone aqui">
                </div>

                <button class="botao_cadastrar" type="submit">Salvar Alterações</button>
            </form>
        </section>
    </main>
</body>
</html>
